@import "tailwindcss";

@theme {
  --breakpoint-xs: 28rem;
  --breakpoint-3xl: 115rem;
  --text-xxs: 0.6rem;
  --text-md: 1rem;
  --radius: 0.125rem;
  --tracking-superwide: .3rem;
  --tracking-superwider: .4rem;
  --border-width-thin: 1px;
  --color-primary: #FFFDD0;
  --color-secondary: #9D624B;
  --color-accent1: #C6AA77;
  --color-accent2: #706F6C;
}

body {
  font-family: 'Inter';
}
