@import "tailwindcss";

@theme {
  --breakpoint-xs: 28rem;
  --breakpoint-3xl: 115rem;
  --text-xxs: 0.6rem;
  --text-md: 1rem;
  --radius: 0.125rem;
  --tracking-superwide: .4rem;
  --border-width-thin: 1px;
  --color-primary: #f84f04;
  --color-secondary: #ffe4c4;
}
